In [46]:
import pandas as pd

file_path = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [42]:
# Player Count
purchase_data['SN'].count()

780

In [58]:
total_players = {'Total Players': [purchase_data['SN'].count()]}
player_count = pd.DataFrame(total_players)
player_count

   Total Players
0            780

In [67]:
# Purchasing Analysis (Total)
purchasing = {
    'Number of Unique Items': purchase_data['Item Name'].nunique(),
    'Average Purchase Price': purchase_data['Price'].mean(),
    'Total Number of Purchases': purchase_data['Purchase ID'].count(),
    'Total Revenue': purchase_data['Price'].sum()
}

purchasing_analysis = pd.DataFrame(purchasing, index=[0])
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [68]:
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,}'.format)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [ ]:
# Gender Demographics