In [4]:
import pandas as pd

file_path = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# Player Count
purchase_data['SN'].count()

780

In [6]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players": [total_players]})
player_count

   Total Players
0            576

In [7]:
# Purchasing Analysis (Total)
purchasing = {
    'Number of Unique Items': purchase_data['Item Name'].nunique(),
    'Average Purchase Price': purchase_data['Price'].mean(),
    'Total Number of Purchases': purchase_data['Purchase ID'].count(),
    'Total Revenue': purchase_data['Price'].sum()
}

purchasing_analysis = pd.DataFrame(purchasing, index=[0])
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [8]:
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,}'.format)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [9]:
# Gender Demographics 
gender_stats = purchase_data.groupby('Gender')

total_count_gender = gender_stats.nunique()['SN']
percentage_of_players = total_count_gender / total_players * 100
gender_demographics = pd.DataFrame({
    'Percentage of Players': percentage_of_players,
    'Total Count': total_count_gender
})

gender_demographics.index.name = None
gender_demographics.sort_values(['Total Count'])
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:.2f}%".format)
gender_demographics

                      Percentage of Players  Total Count
Female                               14.06%           81
Male                                 84.03%          484
Other / Non-Disclosed                 1.91%           11

In [10]:
# Purchasing Analysis(Gender)
purchase_count = gender_stats['Purchase ID'].count()

average_price = gender_stats['Price'].mean()

total_purchase =  gender_stats['Price'].sum()

avg_purcahse_per_person =  total_purchase / total_count_gender

gender_analysis = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': average_price,
    'Total Purchase Value': total_purchase,
    'Average Purchase Total per Person by Gender': avg_purcahse_per_person
})
gender_analysis.index.name = 'Gender'
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [11]:
gender_analysis.style.format({
    'Average Purchase Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}',
    'Average Purchase Total per Person by Gender': '${:,.2f}'
})

In [12]:
# Age Demographics
ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Age Group'] = pd.cut(purchase_data['Age'], ages, labels=age_ranges)
purchase_data
age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()

percentage_by_age = (total_count_age/total_players) * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

age_demographics.index.name = None

age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [31]:
# Purchasing Analysis(Age)
purchase_count = age_grouped['Price'].count()

avg_purchase_price = age_grouped['Price'].mean()

total_purchase_value = age_grouped['Price'].sum()

avg_purchase_total = total_purchase_value / total_count_age 

age_analysis = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Avg. Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Avg. Total Purchase per Person': avg_purchase_total
})

age_analysis.style.format({
    'Avg. Purchase Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}',
    'Avg. Total Purchase per Person': '${:,.2f}'
})

In [37]:
# Top Spenders
spender_stats = purchase_data.groupby('SN')

total_purchase_count = spender_stats['Purchase ID'].count()

average_purchase_price = spender_stats['Price'].mean()

total_customer_value = spender_stats['Price'].sum()

top_spenders = pd.DataFrame({
    'Purchase Count': total_purchase_count,
    'Avg. Purchase Price': average_purchase_price,
    'Total Purchase Value': total_customer_value
})

sorted_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending=False).head()

sorted_spenders.style.format({
    'Avg. Purchase Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}'
})

In [46]:
# Most Popular Items
items = purchase_data[['Item ID', 'Item Name', 'Price']]

items_grouped = items.groupby(['Item ID', 'Item Name'])

purchase_count_item = items_grouped['Item ID'].count()

total_purchase_value = items_grouped['Price'].sum()

item_price = total_purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({
    'Purchase Count': purchase_count_item,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_value
})

sorted_items = most_popular_items.sort_values(['Purchase Count'], ascending=False).head()

sorted_items.style.format({
    'Item Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}'
})

In [49]:
# Most Profitable Items
most_profit = most_popular_items.sort_values(['Total Purchase Value'], ascending=False).head()

most_profit.style.format({
    'Item Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}'
})